
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*common styles*/
  font-family: 'Rubik';
  font-weight: 200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Styles for form*/
.css-1d1r5q-MuiFormHelperText-root.Mui-error {

  position: absolute;
  bottom: -22px;
}
.css-1d4ef0q-MuiPaper-root-MuiAlert-root .MuiAlert-icon{
  display: none;
}


@media (min-width: 420px) and (max-width: 768px) {
  .css-103xlb8-MuiFormControl-root-MuiTextField-root {
    margin-right: 25px !important;
    margin-left: 0px !important;
  }
}

